html{
    background-color: #f6f2edb7;
}
#navbar{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    background: #252523;
    margin-bottom: 5rem;
    box-shadow: 0px 0px 12px 0px;
    position: sticky;
}
nav.sticky{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 5rem;
}
ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
li{
    list-style: none;
    padding: 10px;
    margin: 0;
}
nav a{
    color: #e7baa0;
    text-decoration: none;
}
#mainPhoto{
  width: 147.4rem;
  height: 40rem;
}
.mainPhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
}
.aboutSisters {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 0.5fr;
    grid-template-rows: auto auto;
  }
  .grid-item {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  .grid-item .quote{
    vertical-align: top;
  }
  .grid-item img{
    max-width: 20rem;
    max-height: 22.5rem;
  }
  .icons{
    margin-top: 9rem;
    display: flex;
    justify-content: space-evenly;
  }
  .icons img{
    max-width: 5rem;
    max-height: 5rem;
  }
  .grid-item a{
    color: #dfbdc4;
  }
  #logo{
    max-width: 5rem;
    max-height: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
  }
  .fb-page{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  button{
    border-radius: 12px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #e7baa0;
    border-color: #3e3e3b;
    padding: 0.75rem;
  }
  .btn{
    float: right;
  }
  a h3{
    color: #3e3e3b;
  }
  footer{
    background-color: #252523;
  }
  .footer{
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  #footer-item{
    text-align: center;
    color: #b8b5b3;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5rem;
    margin-left: 5rem;
  }
  #footer-item a{
    color: #cbb3b3;
  }
  .footer-brynn{
    border-top: 0.25rem solid rgba(211, 211, 211, 0.281);
    border-radius: 3px;
  }
  .footer-amy{
    border-top: 0.25rem solid rgba(211, 211, 211, 0.281);
    border-radius: 3px;
  }
  .footer-reviews{
    border-bottom: 0.25rem solid rgba(211, 211, 211, 0.281);
    border-radius: 3px;
  }
  .copyright{
    border-top: 0.15rem solid rgba(211, 211, 211, 0.281);
    border-radius: 2px;
    margin-left: 12rem;
    margin-right: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    padding-bottom: 1rem;
  }
  .copyright a{
    padding-top: 0.15rem;
    color: #b8b5b3;
    text-decoration: none;
  }
  a:hover{
    text-decoration: lightgray underline;
  }
  